@page "/api/Alumnos"
@inject IHttpServicio http

<!DOCTYPE html>
<html>
<head>
    <title>Lista Alumnos</title>

    @* enlace de css *@
    <link href="./css/Alumnos.css" rel="stylesheet" />

    @* bootstrap *@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

    <header class="back">
        <h1 class="text-center">Lista de alumnos</h1>
    </header>

    <main>
        @*Recorre una lista de Alumnos *@
        <table>

            <tr>

                <th>Nombre</th>
                <th>Sexo</th>
                <th>FechaNacimiento</th>
                <th>Edad</th>
                <th>Cuil</th>
                <th>Pais</th>
                <th>Provincia</th>
                <th>TituloBase</th>
                <th>Cus</th>
                <th>Estado</th>

            </tr>

            @if (Mensaje == "")
            {
                @if (listaAlumnos == null)
                {
                    <p class="btn btn-primary">Buscando...</p>
                }
                else if (listaAlumnos.Count == 0)
                {
                    <p>No existe la lista de alumnos solicitada</p>
                }
                else
                {
                    @foreach (var item in listaAlumnos)
                    {
                        <tr>
                            <td>@item.Nombre</td>
                            <td>@item.Sexo</td>
                            <td>@item.FechaNacimiento</td>
                            <td>@item.Edad</td>
                            <td>@item.CUIL</td>
                            <td>@item.Pais</td>
                            <td>@item.Provincia</td>
                            <td>@item.TituloBase</td>
                            <td>@item.CUS</td>
                            <td>@item.Estado</td>
                        </tr>
                    }
                }
            }
            else
            {
                <p>Error: @Mensaje</p>
            }



        </table>

    </main>

    <footer>
    </footer>



</body>

</html>

@code {
    List<Alumno> listaAlumnos;
    string Mensaje = "";

    // Task == void (Nota retorna nada)
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await Leer();
    }

    private async Task Leer()
    {
        var resp = await http.Get<List<Alumno>>("api/Alumnos");
        string Mensaje = "";

        if (!resp.err)
        {
            listaAlumnos = resp.respuesta;

        }
        else
        {
            Mensaje = await resp.ObtenerError();
        }

    }


}













