@page "/api/Alumnos"
@inject IHttpServicio http

<!DOCTYPE html>
<html>
<head>
    <title>Lista Alumnos</title>
    <!-- Enlace de CSS personalizado -->
    <link href="./css/ListaAlumnos.css" rel="stylesheet" />
    <!-- Enlace a Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <header class="container mt-4">
        <h1 class="text-center shadow mb-5 text-uppercase">Lista de alumnos</h1>
        <a class="btn btn-primary mb-3" href="api/ListaAlumnos/crear">Nuevo alumno</a>
    </header>
    <main class="container">
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Nombre</th>
                        <th>Sexo</th>
                        <th>Fecha Nacimiento</th>
                        <th>Edad</th>
                        <th>CUIL</th>
                        <th>País</th>
                        <th>Provincia</th>
                        <th>Título Base</th>
                        <th>CUS</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Mensaje == "")
                    {
                        @if (listaAlumnos == null)
                        {
                            <tr><td colspan="10" class="text-center">Buscando...</td></tr>
                        }
                        else if (listaAlumnos.Count == 0)
                        {
                            <tr><td colspan="10" class="text-center">No existe la lista de alumnos solicitada</td></tr>
                        }
                        else
                        {
                            @foreach (var item in listaAlumnos)
                            {
                                <tr>
                                    <td>@item.Nombre</td>
                                    <td>@item.Sexo</td>
                                    <td>@item.FechaNacimiento</td>
                                    <td>@item.Edad</td>
                                    <td>@item.CUIL</td>
                                    <td>@item.Pais</td>
                                    <td>@item.Provincia</td>
                                    <td>@item.TituloBase</td>
                                    <td>@item.CUS</td>
                                    <td>@item.Estado</td>

                                    <a class="btn btn-primary" href="/api/editarAlumno">Editar</a>

                                </tr>
                            }
                        }
                    }
                    else
                    {
                        <tr><td colspan="10" class="text-center text-danger">Error: @Mensaje</td></tr>
                    }
                </tbody>
            </table>
        </div>
    </main>
    <footer class="container mt-4">
    </footer>
</body>
</html>

@code {
    private List<Alumno> listaAlumnos = new List<Alumno>();
    private string Mensaje = "";

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await Leer();
    }

    private async Task Leer()
    {
        var resp = await http.Get<List<Alumno>>("api/Alumnos");

        if (!resp.Error)
        {
            listaAlumnos = resp.respuesta;
        }
        else
        {
            Mensaje = await resp.ObtenerError();
        }
    }
}














